<div class="login-layout">
    <div class="login-card">
        <div class="row">
            <div class="col">
                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                    <div class="form-group my-3">
                        <label for="username" required class="mb-2">User Name</label>
                        <input ngModel name="userName" type="text" class="form-control" id="username"
                            aria-describedby="emailHelp" placeholder="Enter user name">
                    </div>
                    <div class="my-3 d-flex justify-content-between">
                        <span><i>Default user : "User2"</i></span>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>